<% content_for :custom_style do %>
<link rel="stylesheet" href="/AdminLTE/plugins/select2/select2.min.css">
<link rel="stylesheet" href="/AdminLTE/plugins/iCheck/all.css">
<link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/animate.css">
<style type="text/css">
  #all_episode{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
              transition: all 0.2s ease;
  }
    #paging_box{
         padding-top: 20px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
  }
  .episode{

  }
  .left_right{
        display: -webkit-flex;
        display: flex;
        margin-top: 20px;
        position: relative;;
  }
  .bottom{
    width: 640px;
    overflow: hidden;;
  }

  .episode img{
       width: 320px;
       height: 180px;
       box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .right{
    width: 320px;
    background-color: white;
  }
  .line1{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    text-align: left;
    font-size: 1.2em;
    display:flex;
  }
  .line1 .line1-number{
    margin-left: 5px;
  }
  .line2{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.7em;
  }
    .line3{
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
    text-align: right;
    font-size: 1.1em;
  }

  .episode_upload{
        display: -webkit-flex;
        display: flex;
  }

  #image_upload_icon{
    height: 50px;
  }

  .episode_upload div{
    spellcheck: false;
  }

  .episode_upload .left{
    cursor: pointer;
       width: 320px;
       height: 180px;
    background-color: #00a65a;

            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 2px;
        background-color: #00a65a;
        text-align: center;
        line-height: 152px;
  }

  #new_episode:focus{
          background-color: #00a65a;
  }

  #cover_layer{
    z-index: 999; 
    background-color:black; 
    opacity: 0.8; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    color: white;
    display: none;
  }
  .disabled:hover{
    color: #666  !important;
    cursor: not-allowed;
    background-color: #FFF !important;
  }
      .close_icon{
      position: absolute; 
      top: 8px; 
      right: 10px; 
      cursor: pointer;
      transition: all 0.2s ease;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      opacity: 0;
      color: black;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    .close_icon i{
      position: absolute; 
      top: 8px; 
      right: 9px; 
    }
   .close_icon:hover{
      background-color: #e74c3c;
      color: white;
    }
      .episode:hover .close_icon{
        opacity: 1;
    }
</style>
<% end %>

<div class="content-wrapper">

<div id="paging_box">
      <button id="episode_new" type="button" class="btn btn-block btn-success" style='width:120px; position: relative; left: -233px;'>new episode</button>
<ul class="pagination">
  <% if @page.to_i > 1 %> 
  <li>
  <a href=" /admin/episode/<%= @page.to_i - 1 %>">
  Prev
  </a>
  </li>
  <% end %>
  <li><a href="/admin/episode/<%= @next_page %>">Next</a></li>
</ul>
</div>

    <div id="all_episode">
    <div id="entire_upload_box" style='position: relative; display: none;'>
    <!-- this cover_layer will display when user submiting form. this would disable user click any input field -->
    <div id='cover_layer'>
          <i class="icon-spinner icon-spin icon-4x" style="position: absolute; top:40%; left: 46%;"></i> 
    </div>
      <div class="episode_upload">
          <div id='image_div' class="left">

            <div id="image_upload_hint">
                  <i class="ion ion-arrow-up-c" style='font-size: 24px;color: #FFF;position: relative;top: 15px;'></i>
            </div>

          <img  id='preview_image' src="" style='display:none;'>
              
          </div>
          <input  id='episode_image_file'  type="file"style='display:none;'></input>
          <div class="right" >
          <div class="line1">
                <div id="line1-course" contenteditable="true" spellcheck="false" style='background-color:#ebebeb'>choose</div>
            &nbsp;
            第
            <div class="line1-number" contenteditable="true" spellcheck="false" style='padding-left: 5px; padding-right:5px; background-color:#ebebeb'>1</div>
             &nbsp;集
          </div>
           <div class="line2"  >
              <div class="line2-title" style='padding-left: 5px; padding-right:5px; background-color:#ebebeb; display:inline-block;' contenteditable="true" spellcheck="false">点击编辑</div>
          </div>
          <div class="line3">
              <div class="line3-author" style='padding-left: 5px; padding-right:5px; background-color:#ebebeb; display:inline-block;' contenteditable="true" spellcheck="false">点击编辑</div>
          </div>
          </div>
      </div>

<div style="width: 640px;">

            <div class="form-group has-success">
                              <!-- <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Video link  </label> -->
                              <input type="text" class="form-control" id="video_link" placeholder="Video link here">
                              <!-- <span class="help-block">123</span> -->
            </div>

<!--       keep this cid input box, 
            in case someday we can't get 'cid' from API, and then have to input manually
            <div class="form-group has-success">
                              <input type="text" class="form-control" id="video_cid" placeholder="CID (Optional, Only for Bilibili)  Example: 6922784" value=''>
            </div> 
-->
            <div class="form-group has-success">
                              <!-- <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Video link  </label> -->
                              <input type="text" class="form-control" id="author_link" placeholder="author link here">
                              <!-- <span class="help-block">123</span> -->
            </div>
            <div id="course_select_div"  class="form-group" style='width:170px; display: inline-block;  '>
            <select  id="course_select" class="form-control select2 select2-hidden-accessible" style="width: 100%;" >
                 <% @s.each do |serie| %>
                  <option data-serie-id="<%= serie.id %>"><%= serie.title %></option>
                <% end %>
            </select>
            </div>

           <div style="display: inline-block;  width: 130px;   float: right;   ">
          <button id='episode_cancel' class="btn btn-block btn-danger"  style="display: inline-block;   ">Cancel</button>
          </div>

            <div style="display: inline-block;  width: 130px; float: right;  margin-right: 30px;">
          <button id='episode_submit' class="btn btn-block btn-success" style="display: inline-block;  ">Submit</button>
          </div>

 </div>
</div>


      <% @e.each do |episode| %>
      <div class="episode">
          <div class="left_right">
          <div class="left">
              <img src='/<%= episode.image %>' >
          </div>
          <div class="right" >
          <div class="line1"><%= episode.serie.title %> &nbsp; &nbsp; 第 <%= episode.number %> 集 </div>
          <div class="line2"><%= episode.title %> </div>
          <div class="line3"><%= episode.translator %></div>
          <div class='close_icon' data-episode-id='<%= episode.id %>'>
                <i class="ion ion-close-round"></i>
          </div>
          </div>
          </div>
          <div class="bottom">
          <table class="table table-bordered table-hover dataTable" role="grid">
                <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1" style='min-width: 100px;'>Video link</td>
                  <td >
                  <a href="<%= episode.video_link %>" target='_blank'><%= episode.video_link %></a>
                  </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="sorting_1" style='min-width: 100px;'>Author Link</td>
                  <td >
                  <a href="<%= episode.author_link %>" target='_blank'><%= episode.author_link %></a>
                  </td>
                  </tr>
                <tr role="row" class="odd">
                  <td class="sorting_1" style='min-width: 100px;'>Interface</td>
                  <td >
                  <a href="<%= episode.interface %>" target='_blank'><%= episode.interface %></a>
                  </td>
                 </tr>
           </tbody>
              </table>
          </div>
      </div>
    <% end %>



<% content_for :script_at_bottom do %>
  <script src="/AdminLTE/plugins/select2/select2.full.min.js"></script>
  <script src="/jquery-ujs.js"></script>

       <script>
      $(function () {

     // Init Form make create episode easier
     // 系列继续选
     // 集数：下一集
     // 作者一样
     // 作者链接一样
      var serie_id = localStorage.getItem("serie_id");
      if (serie_id != null){
            $('#course_select').find("option").filter(function() {
                 return serie_id == $(this).data('serie-id');
            }).attr('selected',true);
      }
      var a = $("#course_select").val();
      $("#line1-course").text(a);

      var serie_id = $('#course_select :selected').data('serie-id');

      var number = localStorage.getItem("number");
      if (number != null){
          $('.line1-number').text(number);
      }

      var author_link = localStorage.getItem("author_link");
      if (author_link != null){
          $('#author_link').val(author_link);
      }

      var author_name = localStorage.getItem("author_name");
      if (author_name != null){
          $('.line3-author').text(author_name);
      }



        // =====================
        //Initialize Select2 Elements
        $(".select2").select2(); 

        // Series choose
        $("#line1-course").focus(function(){
              $("#course_select_div").show();
              $("#course_select").select2("open");
        });
       $(".select2").on("select2:close", function(e) { 
                  var a = $("#course_select").val();
                      $("#line1-course").text(a);
        });

       // if empty 
        $(".line1-number, .line2-title, .line3-author").focusout(function(){
          var v  = $(this).text();
          if(v == ""){
            $(this).text("edit this");
          }
        });

        // expand
        $("#episode_new").click(function(){
          $("#entire_upload_box").slideToggle();
        });

        // close
        $("#episode_cancel").click(function(){
          $("#entire_upload_box").slideUp();
        });

        // submit
        $('#episode_submit').click(function(){
            // series id
            // number
            // title
            // @autor name
            // video link
            // author link
            // image

            var serie_id = $('#course_select :selected').data('serie-id');
            var number = $('.line1-number').text();
            var title = $('.line2-title').text();
            var author_name = $('.line3-author').text();
            var video_link = $('#video_link').val();
            var cid = $('#video_cid').val();  // bilibili cid.  optional 
            var author_link = $('#author_link').val();
            var file = $('#episode_image_file').get(0).files[0];

            // store these for reload page
            localStorage.setItem("serie_id", serie_id);
            localStorage.setItem("number", parseInt(number) +1 );
            localStorage.setItem("author_name", author_name);
            localStorage.setItem("author_link", author_link);

            var fd = new FormData();
            fd.append("authenticity_token", 'h+GGlhredhlXi3X4BO+2j82ukDgWlDMwfYvKDjr+liJsB2WR1wvMt1ZhcDe0+SFzDKqHuQkRIR3BXM38dziBfw==');
           fd.append("cid", cid);
           fd.append("episode[serie_id]", serie_id);
           fd.append("episode[number]", number);
           fd.append("episode[title]", title);
           fd.append("episode[author_name]", author_name);
           fd.append("episode[video_link]", video_link);
           fd.append("episode[author_link]", author_link);
           fd.append("episode[image]", file);
           $('#cover_layer').show();

         $.ajax({
            url: '/episodes',   
            type: 'POST', 
            data: fd,     
            cache: false,
            //@TODO start here
            xhr: function() {  // custom xhr
                myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){ // check if upload property exists
                    myXhr.upload.addEventListener('progress',updateProgress, false); // for handling the progress of the upload
                }
                return myXhr;
            },
            //@TODO end here
            // DO NOT set the contentType and processData
            // see http://stackoverflow.com/a/5976031/80353
            contentType: false,
            processData: false,

        });
});

        // image preview
        $('#image_div').click(function(){
          $('#episode_image_file').click();
        });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview_image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#episode_image_file").change(function () {
        $("#image_upload_hint").hide();
        $("#preview_image").show();
        readURL(this);
    });




// precentage
function updateProgress(evt) {
    console.log('updateProgress');
    if (evt.lengthComputable) {
            var percentComplete = evt.loaded / evt.total;
            console.log(percentComplete);
            console.log(evt.loaded);
            console.log( evt.total);

            if (percentComplete == 1){
              // mean done.
                   $('#cover_layer').hide();
                   location.reload()
            }

    } else {
            // Unable to compute progress information since the total size is unknown
            console.log('unable to complete');
    }
}


      });


// after animate complete
$(".episode").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function(){ 
  $(this).slideUp();
});
// click delete icon
$(".close_icon").click(function(){
       var r = confirm("Delete?");
        if (r == true) {
          var id = $(this).data('episode-id');
          $.ajax({
              type: "POST",
              url: "/episodes/" + id,
              dataType: "json",
              data: {"_method":"delete"},
              context:this,
              complete: function(){
                  $(this).closest('.episode').addClass('animated slideOutRight');
              }
          });
        } 
    })
    </script>
<% end %>
